:root {
    --primary-color: #6b7280;
    --background-color: #f3f4f6;
    --text-color: #374151;
    --accent-color: #60a5fa;
    --border-radius: 6px;
    --shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}



body {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    line-height: 1.3;
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: all;
}

#centeringScreen {
    padding: 0;
    margin: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    position: absolute;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    display: flex;
    gap: 2vw;
}

#starting-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
}


#play-button {
    position: absolute;
    border-radius: 2vw;
    padding: 1.8vw 1.8vw;
    font-size: 3.7vw;
    width: 38vw;
    top: 45%;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

#create-category-button {
    position: absolute;
    border-radius: 2vw;
    padding: 1.8vw 1.8vw;
    font-size: 3.7vw;
    width: 38vw;
    color: white;
    top: 60%;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

#returnToStartButton {
    border-radius: 2vw;
    padding: 1.2vw 1.2vw;
    position: absolute;
    top: 84%;
    left: 10%;
    font-size: 3.2vw;
    width: 30vw;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 157;
}

#retryButton {
    border-radius: 2vw;
    padding: 1.2vw 1.2vw;
    position: absolute;
    top: 70%;
    right: 10%;
    font-size: 3.2vw;
    width: 30vw;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 157;
}

#formMessage {
    border-radius: 2.4vw;
    padding: 1.2vw 1.4vw;
    position: absolute;
    top: 80%;
    font-size: 1.7vw;
    width: 48vw;
    color: #330e00;
    background-color: #ff956e;
    opacity: 0.8;
    pointer-events: none;
    display: none;
    text-align: center;
    z-index: 155;
}

#final-score {
    position: absolute;
    top: 42%;
    font-size: 6vw;
    color: white;
    background-color: transparent;
    display: none;
    text-align: center;
    pointer-events: none;
    white-space: pre-wrap;
}

#highScore {
    position: absolute;
    top: 40%;
    font-size: 4vw;
    right: 5%;
    color: rgba(255, 170, 40, 1);
    background-color: transparent;
    text-align: center;
    display: none;
    pointer-events: none;
    white-space: pre-wrap;
}

/* Styling for the top-left container */
#top-left-container {
    position: absolute;
    top: 4vw;
    left: 4vw;
    color: white;
    text-align: left;
    line-height: 1.5;
}

/* Styling for time display */
#timeDisplay {
    font-size: 20px;
    color: white;
    display: 'none';
}

/* Styling for word count */
#wordCount {
    font-size: 20px;
    color: white;
    display: none;
}


/* Keyboard Layout */
#keyboard-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 150;
}

#output {
    flex: 1;
    display: none;
    align-items: flex-end;
    justify-content: center;
    padding: 0.8vh;
    font-size: 1.5em;
    border: none;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 10px;
    z-index: 150;
}

.output-item {
    background-color: #FFA726;
    color: white;
    border-radius: 5px;
    margin: 0.5vw;
    font-size: 2.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.7vw;
    height: 6.7vw;
    box-sizing: border-box;
}


#keyboard {
    display: none;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(11, 1fr);
    grid-column-gap: 0.7vw;
    grid-row-gap: 1.6vw;
    background-color: #FFE0B2;
    padding: 2vw;
    margin-bottom: 0.4vw;
    height: fit-content;
    overflow: hidden;
    border-top-right-radius: 4vw;
    border-top-left-radius: 4vw;
    border-radius: 4vw;
    z-index: 150;
}

.key {
    background-color: #FFA726;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0;
    font-size: 2.6vw;
    width: 8.09vw;
    height: 8.09vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .key.space {
        grid-column: 8 / 11;
        width: 25.67vw;
        transform: translateX(0vw);
        background-color: #FFA726;
    }

    .key.submit {
        background-color: #4CAF50;
        height: 17.78vw;
        grid-row: 2 / 4;
        grid-column: 11 / 12;
    }

        .key.submit span {
            font-size: 1.5em;
        }

    .key.backspace {
        background-color: #F44336;
        grid-row: 1 / 2;
        grid-column: 11 / 12;
    }

    .key:active {
        background-color: #FB8C00;
    }

    .key.submit:active {
        background-color: #388E3C;
    }

    .key.backspace:active {
        background-color: #D32F2F;
    }


/* Categories List layout */
#categoriesScreen {
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
    z-index: 153;
    background-color: rgba(255, 255, 255, 0.3);
    display: none;
}

#categoriesText {
    font-size: 5vw;
    width: 38vw;
    color: white;
    position: absolute;
    top: 3%;
    background-color: transparent;
    text-align: center;
}

#scrollButtonUp, #scrollButtonDown {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    position: absolute;
    background-color: #ffcc80;
    border: none;
    color: white;
    font-size: 2.5vw;
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    cursor: pointer;
    box-shadow: 0 0.2vw 0.5vw rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 155;
}

#scrollButtonUp {
    top: 15%;
}

#scrollButtonDown {
    top: 77%;
}

#startButton {
    border-radius: 2vw;
    padding: 1vw 1vw;
    font-size: 3.7vw;
    width: 30vw;
    color: white;
    position: absolute;
    top: 84%;
    right: 10%;
    background-color: transparent;
    border: 2px solid;
    border-color: white;
    cursor: pointer;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    align-content: center;
    display: block;
    z-index: 154;
}



/*CATEGORIES DISPLAY LIST*/

#categories {
    width: 100%;
    height: 51%;
    top: 23%;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
    border-collapse: collapse;
    overflow-y: hidden;
    z-index: 153;
    padding: 0;
}

#rows-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.list-header, .list-row {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr 1fr;
    align-items: center;
    box-shadow: 0 0.1vw 0.15vw rgba(0, 0, 0, 0.1);
    width: 80vw;
    border-radius: 0.8vw;
    margin-bottom: 0.7vw;
    padding: 1vw 1vw;
    cursor: default;
}

.list-header {
    background-color: #a4e2fc;
    font-weight: bold;
    position: sticky;
    top: 0;
    pointer-events: none;
}

.list-row {
    background-color: #ffcc80;
}

    .list-row.selected {
        background-color: #ffb84d;
    }

    .list-row:hover:not(.selected) {
        background-color: #ffc46b;
    }

.col-created, .col-played, .col-hs {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: clip;
    font-size: 2.8vw;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.col-title {
    text-align: left;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: clip;
    font-size: 2.8vw;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.col-title, .col-created {
    min-width: 0;
    width: 100%;
}

.col-played, .col-hs {
    font-size: 2.8vw;
    min-width: 0;
    width: 100%;
}


.emptyElement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.7vw;
    background-color: #a4e2fc;
    background-color: rgba(255, 204, 128, 0.8);
    width: 80vw;
    height: 100%;
    border-radius: 0.8vw;
    box-shadow: 0 0.1vw 0.15vw rgba(0, 0, 0, 0.1);
    cursor: default;
    font-size: 3vw;
    padding: 1vw 1vw;
    pointer-events: none;
}

.emptyText {
    white-space: pre-wrap;
    line-height: 3vw;
    text-align: center;
}
